{% extends 'base.html' %}

{% block title %}
Мои приглашения
{% endblock title %}

{% block content %}
    {% if is_empty %}
        <br>
        <h1>Запросов в друзья нет...</h1>
    {% endif %}
    {% for obj in qs %}
    <br>
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img src="{{ obj.avatar.url }}" alt="" class="ui rounded image" style="width: 200px; height: 200px; object-fit: cover;">
                    </div>
                    <div class="thirteen wide column">
                        <h3>{{ obj.user }}</h3>
                        <p>{{ obj.bio }}</p>
                        <a href="{{ obj.get_absolute_url}}"><button class="ui primary button w-big mb-5">Посмотреть профиль</button></a>
                        <form action="{% url 'profiles:accept-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value="{{ obj.pk }}">
                            <button type="submit" class="ui positive basic button w-big mb-5"><i class="check icon"></i>Принять запрос</button>
                        </form>
                        <form action="{% url 'profiles:reject-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value="{{ obj.pk }}">
                            <button type="submit" class="ui negative basic button w-big mb-5"><i class="close icon"></i>Отклонить запрос</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
